body {
    background-color: rgb(201, 154, 154);
}


h1 {
    color: blueviolet;
    margin-left: 40px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    /* color: rgb(72, 255, 0); */
}

.c1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.c2 {
    color: darkgreen;
}



#output {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 0, 0);
}